@import "../variables";

.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
