<% provide(:title,"作品の編集") %>

<div class="container">
  <h2 class="title text-center mt-5 mb-3">ユーザーの編集</h2>
  <% if @user.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @user.errors.full_messages.each do |message
  |%>
      <li><%=message%> </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_with model: @user,local: true do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class:"form-control",required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true, class:"form-control",required: true %>
  </div>

  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_area :profile, class:"form-control",style: "width:100%;min-height:150px;"%>
  </div>

  <div class="actions">
    <%= f.submit "編集を確定する", class:"form-control submit-button"  %>
  </div>
  <% end %>


  <div class="actions destroy-user text-center">
    <%= link_to  "ユーザーを削除する", user_path(@user),class: "my-5 text-center danger",method: :delete,data: {confirm: "削除するユーザーの投稿した作品も全て削除されます。\n本当にユーザー（#{@user.name}）を削除しますか？"} %>
  </div>

</div>
