@import "../_variables.scss";

main {
  width: 100%;
  height: 100%;
}
.header-bottom {
  padding-top: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 57px);
  background: $sub-color;
}
.header-inner {
  position: relative;
  display: inline-block;
  color: $back-color;
  & ::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: $main-color;
    display: block;
    width: 90%;
    height: 4px;
    margin: 0 auto;
  }

  & .big-character {
    font-size: 3rem;
    margin: 1rem;
  }
  & .small-character {
    font-size: 2rem;
  }
}
.description {
  width: 90%;
  height: auto;
  margin: 3rem auto 4rem;
  text-align: center;
  p {
    line-height: 2;
  }
}

.description-title {
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
  color: $main-color;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: $main-color;
    border-radius: 1.5px;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
  }
}
.cards {
  margin: 0 auto 5rem;
}
.card {
  margin: 0.5rem;

  img {
    margin: 0 auto;
  }
  & .card-text {
    margin: 0 auto;
  }
  & .card-title {
    color: $main-color;
  }
}
