<% provide(:title,"Sign in")%>
<div class="container">
  <h2 class="login text-center mt-5 mb-3">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class:"form-control",required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control"  %>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"form-control"  %>
  </div>
  <% end %>
  <div class="text-center mt-3">
    <%= render "devise/shared/links" %>
  </div>

</div>
