<% provide(:title,"作品の登録") %>

<div class="container">
  <h2 class="title text-center mt-5 mb-3">作品の登録</h2>
  <% if @product.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @product.errors.full_messages.each do |message
  |%>
      <li><%=message%> </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_with model: @product,local: true do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class:"form-control",required: true %>
  </div>

  <%
    whether_params_have_product = params[:product].present? ? params[:product][:techniques] : @product.technique_ids
  %>
  
  <div class="field check-boxes">
    <%= f.label :techniques %><br />
    <%= f.collection_check_boxes(:techniques,@technique,:id,:technique,include_hidden: false,checked: whether_params_have_product,required: true) do |b|%>
    <%= b.label {b.check_box(class: "technique") + b.text }%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= image_tag(@product.image_url) if @product.image?%>
    <%= f.file_field :image, class:"form-control" %>
    <%= f.hidden_field :image_cache %>
    <label>
  </div>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, class:"form-control" ,required: true %>
    <label>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, class:"form-control",style: "width:100%;min-height:150px;"%>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class:"form-control submit-button"  %>
  </div>
  <% end %>
  <div class="text-center mt-3">
  </div>

</div>

<%= stylesheet_pack_tag "products/new"%>
<%= javascript_pack_tag "products/new" %>
