@import "./_variables.scss";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';


/*========reset css=============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
i {
  margin-right: 0.25rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.danger{
  color: #dc3545;
}

/*========共通=============*/

html {
  position: relative;
  min-height: 100vh;
}
body {
  height: auto;
  padding-top: 57px;
  padding-bottom: 80px;
}
main {
  padding-bottom: 60px;
}
header {
  border-bottom: solid 1px $text-gray;
  h1 {
    color: $main-color;
    margin: 0;
  }
  li {
    margin-left: 3rem;
    a {
      color: $main-color;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  #navbarNav {
    flex-grow: 0;
  }
}


.title,.card-title {
  color: $main-color;
}


footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: solid 1px $text-gray;
  height: auto;
  p {
    line-height: 5;
    margin-bottom: 0;
  }
}

/*=== Flash ===*/
.notice {
  background: #28a745;
  color: #fff;
  margin: 0;
  text-align: center;
}
.alert {
  background: #dc3545;
  color: #fff;
  margin: 0;
  text-align: center;
}

/*=== Login,Logout ===*/
.login,
.signup {
  color: $main-color;
}
.field {
  margin: 1rem 0;
}

.actions{
  margin:24px 0;
  input[type="submit"] {
  background: $sub-color;
  &:active {
    background: $main-color;
  }
  &:hover {
    transition: 0.3s;
    background: $main-color;
  }
}

}
// .actions input[type="submit"] {
//   background: $sub-color;
//   &:active {
//     background: $main-color;
//   }
//   &:hover {
//     transition: 0.3s;
//     background: $main-color;
//   }
// }
