<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield :title) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

</head>
<%= stylesheet_pack_tag 'application', media: 'all'%>
<%= javascript_pack_tag 'application'%>

<body>
  <%= render  "layouts/header" %>

  <% if flash.present? %>
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
  <% end %>
  <% end %>

  <%= yield %>

  <%= render "layouts/footer" %>
</body>

</html>
